@import 'https://fonts.googleapis.com/css?family=Roboto:300,500';

a {
    color: #fff;
}

body {
    color: #fff;
    font: 16px 'Roboto', Arial, sans-serif;
}

.container {
    display: block;
    background: #fff url(../img/background.jpg) top repeat-y;
}

.header {
    padding-top: 30px;
}

.navbar {
    width: 65%;
    margin: 0 auto;    
    padding: 0px;
    text-align: center;
}

.navbar li {
    display: inline-block;
    padding: 10px 15px;
    list-style: none;
}

.navbar li a, .auth a, .social a {
    color: #fff;
    padding: 7px 5px;    
    font-size: 1.125em;
    font-weight: 300;
    text-decoration: none;
}

.navbar li a:hover, .auth a:hover, .social a:hover {
    color: #f6803f;
    border-bottom: 3px solid #f6803f;
    transition: linear 0.10s;
}

.social {
    float: left;
    padding: 10px 30px;
}

.social a:hover {
    border: 0;
}

.auth {
    float: right;
    padding: 10px 30px;
}

.fix {
    padding-right: 6px;
}

.content {  
    padding: 251px 0px;
}

.content-start {
    display: none;
    padding: 289px 0px;
    text-align: center;
}

.link {
    padding: 20px 0px;
}

.bottom { 
    text-decoration: none;
}

.bottom:hover {
    color: #f6803f;
    transition: linear 0.10s;    
    text-decoration: none;    
}

.pos-a {
    position: absolute;
}

.visible {
    display: block;
}

.logotype {
    height: 250px;    
    width: 216px;
    margin: 0 auto;
}

.text {
    cursor: default;
    margin-top: 30px;
    text-align: center;
}

.title {    
    font-size: 2.125em;
}

.subtitle {
    font-size: 1.625em;
    font-weight: 300;
}

.content-start h1 {
    font-size: 2.7em;
    font-weight: 500;
    padding-bottom: 50px;
    margin: 0;
}

.content-start li {
    display: inline-block;
    padding: 0px 65px;
    list-style: none;
    vertical-align: text-top;
}

.icon-start img {
    display: block;
    width: 128px;
    height: 128px;
    margin: 0 auto;    
}

.text-start {
    margin-top: 20px;
    width: 250px;
    font-size: 0.655em;
    text-align: center;    
}

.text-start .subtitle {
    margin-top: 10px;
}

@media screen and (max-width: 1152px) {
    html {
        overflow: auto;
    }
    .social, .auth {
        float: none;
        text-align: center;
    }
    .content {
        padding: 133px 0px;        
    }
    .content-start {
        padding: 172px 0px;
    }
}


@media screen and (max-width: 397px) {
    .content-start li {
        padding: 20px 0px;
    }
    .content-start h1 {
        font-size: 2em
    }
}

@media screen and (max-width: 380px) {
    .navbar {
        width: auto;
    }
    .social, .auth {
        padding: 10px 0px;
    }
}