@import 'https://fonts.googleapis.com/css?family=Roboto:300,500';

html {
    overflow: hidden;
}

body {
    color: #fff;
    font: 16px 'Roboto', Arial, sans-serif;
}

.container {
    background: #333 url(/img/background.jpg) center no-repeat;
    background-size: cover;
}

.content {
    width: 300px;
    margin: 0 auto;
}

.logotype {
    height: 250px;    
    width: 216px;
    margin: 0 auto;
}

.text {
    cursor: default;
    margin-top: 30px;
    text-align: center;
}

.title {
    font-size: 2.125em;
}

.subtitle {
    font-size: 1.625em;
    font-weight: 300;    
}
